@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.button-spl {
  background: #512da8;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
[data-active="active"] {
  transform: scale(1.1);
  transition: 0.4s;
  border-bottom-color: #cc4a00;
}
[data-active="active"]:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #cc4a00;
}
