.container {
  max-width: 1280px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}
.imageLink {
  cursor: pointer;
}
.category {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem 0;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid black;
  cursor: pointer;
}

.button:hover {
  background: black;
  color: white;
}
.col4 {
  flex: 0 0 auto;
  max-width: 33.333%;
  margin: 0 auto;
}
.col5 {
}
.col3 {
  flex: 0 0 auto;
  max-width: 25%;
}
.formOptionItem {
  display: block;
  padding: 10px 20px 8px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  background: #eee;
  cursor: pointer;
}
.formOptionItem:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.formCell {
  position: relative;
  display: inline-block;
  margin: 0 0 15px;
  padding: 0 6px;
  box-sizing: border-box;
  vertical-align: bottom;
  letter-spacing: normal;
  text-rendering: auto;
}
.formCells {
  margin-left: -6px;
  margin-right: -6px;
  letter-spacing: -0.43em;
  padding: 0;
  text-rendering: optimizeSpeed;
  zoom: 1;
}
.spanDollar {
  padding: 4px 7px 2px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  background: #eee;
  border-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.inputValue {
  padding: 5px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 4px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.divContainerInput {
  display: flex;
}
